{% extends "pagesNoProtected.html" %}

{% block titulo %}Inicio de sesión{% endblock %}
{% load static %}

{% block scripts %}
<script src="{% static 'scripts/login.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block encabezado %}Inicio de sesión{% endblock %}

{% block contenido %}
<div class="container d-flex aling-items-center justify-content-center">
    <form id="formulario" class="border p-4 rounded bg-dark">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label text-white">Correo:</label>
            <input type="email" name="email" id="email" class="form-control">
        </div>
        <div class="mb-3">
            <label for="passwd" class="form-label text-white">Contraseña:</label>
            <input type="password" name="passwd" id="passwd" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label text-white">Captcha:</label>
            <div class="g-recaptcha" data-sitekey="6LcdWT8rAAAAAGqdlcWntEM2-GAjmBifP-3rDnYB"></div>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </div>
        <div id="errores" class="alert alert-danger mt-3 d-none text-break">
            <strong id="boxStatus">Errores:</strong>
            <ul class="mb-0">
                <li class="text-break" id="listErrors"></li>
            </ul>
        </div>
    </form>
</div>
{% endblock %}
