{% extends "pagesProtected.html" %}

{% block titulo %}Administrador de servidores{% endblock %}
{% load static %}

{% block scripts %}
<script src="{% static 'scripts/monitor.js' %}"></script>
{% endblock %}

{% block encabezado %}Administrador de servidores{% endblock %}

{% block contenido %}
<div class="row w-100">
  <div class="col-sm-3">
    <div class="container mt-3">
      <table class="table">
        <thead class="table-primary">
          <tr>
            <th>Server</th>
          </tr>
        </thead>
        <tbody>
          {% if servers %}
            {% for server in servers %}
              <tr class="table-success">
                <td>
                  <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="server_name" value="{{ server }}">
                    <button type="submit" class="btn">{{ server }}</button>  
                  </form>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr class="table-warning">
              <td class="text-center">No hay servidores registrados</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-sm-9">
    <div class="container mt-3">
      <table class="table" >
        <thead class="table-primary">
          <tr>
            <th>Servicio</th>
            <th>Status</th>
            <th>Acción</th>
          </tr>
        </thead>
        <input type="hidden" name="name_server" id="name_server" value="{{ name_server}}">
        <tbody>
          {% if services %}
            {% for service, status in services.items %}
              <tr class="table-success" id="service-{{ service|slugify }}">
                <td>{{ service }}</td>
                <td class="status-{{service}}">{{ status }}</td>
                <td>
                  <form method="POST" action="" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="server_name" value="{{ selected_server }}">
                    <input type="hidden" name="service_name" value="{{ service }}">
                    <input type="hidden" name="option" value="start">
                    <button type="submit" class="btn btn-success btn-sm">Iniciar</button>  
                  </form>
                  <form method="POST" action="" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="server_name" value="{{ selected_server }}">
                    <input type="hidden" name="service_name" value="{{ service }}">
                    <input type="hidden" name="option" value="restart">
                    <button type="submit" class="btn btn-warning btn-sm">Reiniciar</button>  
                  </form>
                  <form method="POST" action="" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="server_name" value="{{ selected_server }}">
                    <input type="hidden" name="service_name" value="{{ service }}">
                    <input type="hidden" name="option" value="stop">
                    <button type="submit" class="btn btn-danger btn-sm">Apagar</button>  
                  </form>
                </td>
              </tr>
            {% endfor %}
          {% else %}
            <tr class="table-warning">
              <td colspan="3" class="text-center">No hay servicios registrados</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
