{% extends "pagesProtected.html" %}

{% block titulo %}Administrador de servidores{% endblock %}
{% load static %}

{% block scripts %}
{% endblock %}

{% block encabezado %}Administrador de servidores{% endblock %}
{% block contenido %}
<div class="row">
  <div class="col-sm-3">
    <div class="container mt-3">
      <table class="table">
        <thead class="table-primary">
          <tr>
            <th>Server</th>
          </tr>
        </thead>
        <tbody>
          {% for server in servers %}
            <tr class="table-success">
                <td>
                  <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="server_name" value="{{ server }}">
                    <button type="submit" class="btn">{{ server }}</button>  
                  </form>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-9">
    <div class="container mt-3">
        <table class="table">
          <thead class="table-primary">
            <tr>
              <th>Servicio</th>
              <th>Status</th>
    	        <th>Acción</th>
            </tr>
          </thead>
        <tbody>
          {% for service, status in services.items %}
            <tr class="table-success" id="tablaMonitoreo"></tr>
              <td>{{ service }}</td>
              <td>{{ status }}</td>
              <td>
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="server_name" value="{{ selected_server }}">
                    <input type="hidden" name="service_name" value="{{ service }}">
                    <input type="hidden" name="option" value="start">
                    <button type="submit" class="btn btn-success btn-sm">Iniciar</button>  
                </form>
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="server_name" value="{{ selected_server }}">
                    <input type="hidden" name="service_name" value="{{ service }}">
                    <input type="hidden" name="option" value="restart">
                    <button type="submit" class="btn btn-success btn-sm">Reiniciar</button>  
                </form>
                <form method="POST" action="">
                    {% csrf_token %}
                    <input type="hidden" name="server_name" value="{{ selected_server }}">
                    <input type="hidden" name="service_name" value="{{ service }}">
                    <input type="hidden" name="option" value="stop">
                    <button type="submit" class="btn btn-success btn-sm">Apagar</button>  
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}