{% extends "pagesProtected.html" %}

{% block titulo %}Administrador de servidores{% endblock %}
{% load static %}

{% block scripts %}
{% endblock %}

{% block encabezado %}Administrador de servidores{% endblock %}
{% block contenido %}
<div>
    <div class="d-flex">
        <ul class="nav nav-pills nav-fill gap-2 p-1 small shadow-sm">
            {% for IP in IPs %}
            <li class="nav-item">
                <button name="{IP}" ID="{IP}" class="nav-link active rounded-5 mb-2" data-bs-toggle="tab" type="button">{{ IP }}</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="d-flex">
        <ul class="nav nav-pills nav-fill gap-2 p-1 small shadow-sm">
            {% for service in services %} 
            <li class="nav-item">
                <button name="{service}" id="{service}" class="nav-link active rounded-5 mb-2" data-bs-toggle="tab" type="button">{{ service }}</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="d-fex">
        <h1 class="text-white" >Aqui iran los logs pal monitoreo</h1>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Reiniciar servicio</button>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Iniciar servicio</button>
            </div>
        </div>
        <div class="col sm-3">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Detener servicio</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
