{% extends "pagesNoProtected.html" %}

{% block titulo %}Verificación doble factor{% endblock %}
{% load static %}
{% block estilos %}
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/verifyOTP.js' %}"></script>
{% endblock %}

{% block encabezado %}Verificación doble factor{% endblock %}

{% block contenido %}
<div class="container d-flex align-items-center justify-content-center">
    <form action="/verify2fa/" id="formulario" method="POST" class="border p-4 rounded bg-dark w-100" style="max-width: 350px;">
        {% csrf_token %}
        <div class="mb-3">
            <p class="text-center text-white mb-2 mx-auto">
                Por favor, ingresa el código de verificación que se ha enviado a telegram.
            </p>
            <p class="text-center text-warning mb-2 mx-auto text-break">
                Recuerda que el código tiene una validez de 5 minutos.
            </p>
        </div>
        <div class="mb-3">
            <label for="codeotp" class="form-label text-white">Código de verificación:</label>
            <input type="number" name="codeotp" id="codeotp" class="form-control" placeholder="Ingresa el código de verificación">
        </div>
        <div class="d-grid m-2">
            <p class="text-center m-0 text-white" id="textTimer">Tiempo antes de regenerar código</p>
            <p class="text-white text-center m-0" id="timerRenewOTP">1:00</p>
            <input type="button" class="btn btn-secondary mt-2" id="btnNewCode" value="Regenerar código" disabled>
        </div>
        <div class="d-grid m-2">
            <button type="submit" id="verify2fa" class="btn btn-primary">Verificar</button>
        </div>

        {% if errores %}
        <div id="errores" class="alert alert-danger mt-3 text-break">
            <strong>Errores:</strong>
            <ul class="mb-0">
                {% for error in errores %}
                    <li class="text-break">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div id="errores2" class="alert alert-danger mt-3 d-none text-break">
            <strong>Errores:</strong>
            <ul class="mb-0">
                <li class="text-break" id="listErrors"></li>
            </ul>
        </div>
    </form>
</div>
{% endblock %}
